<a href="https://colab.research.google.com/github/recervictory/LearingR/blob/main/01_Introducation_to_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. R
## What is R ?
R refers to two things.There is R, the **programming language**, and
R, the piece of software that you use to **run programs written in R**.

## Why R ?
- R is a free, open source language for data analysis.
- It’s also a piece of software used to run programs written in R.
- You can download R from http://www.r-project.org.
- You can write R code in any text editor, but there are several IDEs that make development easier.

# RUNNING AN R KERNEL IN GOOGLE COLAB
https://colab.research.google.com/notebook#create=true&language=r

In [1]:
 # GET TO KNOW THE R VERSION
 R.version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          0.3
year           2020
month          10
day            10
svn rev        79318
language       R
version.string R version 4.0.3 (2020-10-10)
nickname       Bunny-Wunnies Freak Out

In [3]:
# INSTALL PACKAGES
install.packages('dtplyr')

# Import Library
library(dtplyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# 1. Introduction to R
Three main data types in R
- **Vectors (one dimensional array)**: can hold numeric, character or logical values. The elements in a vector all have the same data type.
- **Matrices (two dimensional array)**: can hold numeric, character or logical values. The elements in a matrix all have the same data type.
- **Data frames (two-dimensional objects)**: can hold numeric, character or logical values. Within a column all elements have the same data type, but different columns can be of different data type.

In [ ]:
# In "R" The hashtag is used to add comments
# Calculate 4+6
4+6

In [ ]:
# What can we do with R
demo("graphics")

## 1.1 Arithmetic with R
R use **arithmetic operators** to calculate various arithmetic function
- Addition: +
- Subtraction: -
- Multiplication: *
- Division: /
- Exponentiation: ^
- Modulo: %%

In [ ]:
# An addition
15 + 5

# A substraction
50 - 5

# A multiplication
4 * 5

# A division
(5 + 5)/2

# Exponentiation
2^5
# Modulo
17%%4

## 1.2 Variable assignment
A basic concept in (statistical) programming is called a variable. A variable allows you to store a value (e.g. 4) or an object (e.g. a function description) in R. 
Assigning Variable in R:

`my_var <- 15`

`num <- 4`

In [ ]:
 pi <- 3.14
 pi

In [ ]:
pi <- 3.141592653589793238462
phi <- 1.61803399
hi <- pi * phi
hi

## 1.3 Basic data types in R
R works with numerous data types. Some of the most basic types to get started are:

- Decimal values like 4.5 are called **numerics**.
- Whole numbers like 4 are called **integers**. Integers are also **numerics**.
- Boolean values (TRUE or FALSE) are called **logical**.
- Text (or string) values are called **characters**. For string data type we need `quotation marks` to indicate is string.

In [ ]:
num <- 4.5
my_int <- 56
my_logical <- TRUE
my_name <- "R Code"
my_name
my_logical

**To check the data type of of a variable we use** `class()` **fuction**

In [ ]:
class(my_logical)
class(my_name)
class(my_int)
class(num)

# 2. Working with Vectors


<h2 align=center>Example of Dataset</h2>

This is a common example of datasets table used for data analysis.This table has one row for each movie and several columns.

-   **name** - The name of the movie
-   **year** - The year the movie was released
-   **length_min** - The lenght of the movie in minutes
-   **genre** - The genre of the movie
-   **average_rating** - Average rating on Imdb
-   **cost_millions** - The movie's production cost in millions
-   **sequences** - The amount of sequences
-   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0)
-   **age_restriction** - The age restriction for the movie
    <br>
    <br>

Here's what the data looks like:

<img src = "https://ibm.box.com/shared/static/6kr8sg0n6pc40zd1xn6hjhtvy3k7cmeq.png" width = 90% align="left">

**Vectors** are **one-dimension arrays** that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data. 
In R, you create a vector with the **combine function** `c()`. You place the vector elements separated by a comma between the parentheses. For example:
```
numeric_vector <- c(1, 2, 3)
character_vector <- c("a", "b", "c")
```

In [ ]:
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")
logical_vector <- c(TRUE, FALSE,FALSE)
# print vectors
numeric_vector
character_vector
logical_vector

In [ ]:
# datatypes of vectors
class(numeric_vector)
class(logical_vector)

## 2.1 Naming a vector
With vectors, you can give **names to the elements** of a vector using the `names()` function:

In [ ]:
#Creating a year vector
release_year <- c(1985, 1999, 2010, 2002)
release_year

#Assigning names
names(release_year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")
release_year

In [ ]:
# Now, you can retrieve the values based on the names:
release_year[c("American Beauty", "Chicago")]

In [ ]:
names(release_year)

## 2.2 Vector Operations

In [ ]:
release_year <- c(1985, 1999, 2015, 1964)
release_year
# Adding more elements to a vector
release_year <- c(release_year, 2016:2020)
release_year

In [ ]:
# Length of a vector
length(release_year)

In [ ]:
# Head and Tail of a vector
head(release_year) #first six items
tail(release_year) #last six items

In [ ]:
# Sorting a vector
sort(release_year)

In [ ]:
sort(release_year, decreasing = T)

In [ ]:
# minimum and maximum values of a vector, you can use the **`min()`** and **`max()`** functions
min(release_year)
max(release_year)

In [ ]:
# Simple Stat Vectors
cost <- c(12.8,11,8.6,9.3,14.2,10.9)
mean(cost)
median(cost)
sum(cost)
# Summary of Vectors
summary(cost)

## 3.3 Vector Selection

In [ ]:
shop1 <- c(140, -50, 20, -120, 240)
shop2 <- c(-24, -50, 100, -350, 10)
days <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(shop1) <- days
names(shop2) <- days
shop1[1] # one based index
shop2[2]
shop1['Friday']
shop2[c("Monday","Tuesday")]

In [ ]:
shop1[c(2,3,4)]
shop2[c(2:4)]

### Selection by comparison 
By making use of comparison operators, 
The (logical) comparison operators known to R are:
- `<` for less than
- `>` for greater than
- `<=` for less than or equal to
- `>=` for greater than or equal to
- `==` for equal to each other
- `!=` not equal to each other

In [ ]:
# logical comparison
profit <- shop1 > 0
profit

In [ ]:
# subseting
shop1[profit]

# 3. Working with Matrix
**In R, a matrix is a collection of elements of the same data type (numeric, character, or logical) arranged into a fixed number of rows and columns.**
You can construct a matrix in R with the `matrix()` function. Consider the following example:

`matrix(1:12, byrow = TRUE, nrow = 3)`
- The first argument is the collection of elements that R will arrange into the rows and columns of the matrix. Here, we use 1:12 which is a shortcut for c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12).
- The argument **byrow** indicates that the matrix is filled by the rows. If we want the matrix to be filled by the columns, we just place byrow = FALSE.
- The third argument nrow indicates that the matrix should have three rows.

In [ ]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:12,byrow=TRUE,nrow =4)

In [ ]:
# Using Vectors to construct matrix
toy_story <- c(1995,81,8.3)
akira <- c(1998,125,8.1)
room <- c(2015,118,8.3)

movies <- c(toy_story,akira,room)
movies_matrix <- matrix(movies,byrow = TRUE,nrow = 3)
movies_matrix

## 3.1 Naming a matrix
Similar to vectors, you can add names for the rows and the columns of a matrix
```
rownames(my_matrix) <- row_names_vector
colnames(my_matrix) <- col_names_vector
```

In [ ]:
rownames(movies_matrix) <- c('toy_story','akira','room')
colnames(movies_matrix) <- c('year','length_min','rating')
movies_matrix

## 3.2 Adding Rows and Columns to Matrix
- `cbind()` function merges matrices and/or vectors together by column. For example: `big_matrix <- cbind(matrix1, matrix2, vector1 ...)`
- `rbind()` function erges matrices and/or vectors together by row For example: `big_matrix <- rbind(matrix1, matrix2, vector1 ...)`

In [ ]:
cost <- c(30,10.4,13)
movies_matrix <- cbind(movies_matrix, cost)

In [ ]:
movies_matrix

In [ ]:
casino <- c(1995,178,8.2,50)
movies_matrix <- rbind(movies_matrix,casino)

In [ ]:
movies_matrix

## 3.3 Selection of matrix elements
Similar to vectors, you can use the square brackets `[ ]` to select one or multiple elements from a matrix. Whereas vectors have one dimension, matrices have two dimensions. You should therefore use a comma to separate the rows you want to select from the columns. For example:
- `my_matrix[row,col]`
- `my_matrix[1,2]` selects the element at the first row and second column.
- `my_matrix[1:3,2:4]` results in a matrix with the data on the rows 1, 2, 3 and columns 2, 3, 4.

In [ ]:
movies_matrix

In [ ]:
movies_matrix[2:3,1:4]

In [ ]:
movies_matrix[,1]

In [ ]:
movies_matrix[1,]

## 3.4 Arithmetic with matrices
Similar to what you have learned with vectors, the standard operators like `+, -, /, *,` etc. work in an element-wise way on matrices in R.

- For example, `2 * my_matrix` multiplies each element of my_matrix by two.

In [ ]:
matrix1 <- matrix(1:12,byrow=TRUE,nrow =4)
matrix1

In [ ]:
matrix2 <- matrix1 /5
matrix2

In [ ]:
matrix1 + matrix2

In [ ]:
matrix1 * matrix2

# 4. Working with Factor
The term factor refers to a **statistical data type** used to store **categorical variables**. The difference between a categorical variable and a continuous variable is that a **categorical variable** can belong to a **limited number of categories**. A continuous variable, on the other hand, can correspond to an **infinite number of values**.
- A good example of a categorical variable is sex. In many circumstances you can limit the sex categories to "Male" or "Female".

To create factors in R, you make use of the function `factor()`. 
It is clear that there are two categories, or in R-terms 'factor levels', at work here: "Male" and "Female".

In [ ]:
# Gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert gender_vector to a factor
factor_gender_vector <-factor(gender_vector)
  
# Print out factor_gender_vector
factor_gender_vector

 ### 4.1 Types of Categorical Variable
 There are two types of categorical variables: 
 
 - **Nominal categorical variable** 
 - **Ordinal categorical variable**.
 
- A nominal variable is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, think of the categorical variable animals_vector with the categories "Elephant", "Giraffe", "Donkey" and "Horse". 
- In contrast, ordinal variables do have a natural ordering. Consider for example the categorical variable temperature_vector with the categories: "Low", "Medium" and "High". Here it is obvious that "Medium" stands above "Low", and "High" stands above "Medium".

In [ ]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = FALSE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

## 4.2 Changing the Factors Value
You will often want to change the factor levels to "Male" and "Female" instead of "M" and "F" for clarity.  R allows you to do this with the function `levels()`:
> levels(factor_vector) <- c("name1", "name2",...)

In [ ]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
factor_survey_vector
# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female","Male")

factor_survey_vector

In [ ]:
survey_vector

## 4.3 Summarizing a factor:
The `summary()` will will give you a quick overview of the contents of a variable:
> summary(my_var)

In [ ]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

In [ ]:
# Generate summary for survey_vector
summary(survey_vector)

In [ ]:
# Generate summary for factor_survey_vector
summary(factor_survey_vector)

## 4.4 Ordered factors
Sometimes we need to work with the **ordered categorical** data like ("slow", "medium", "fast"). In that case a categorical data needed to convert to ordinal form.  By default, the function `factor()` transforms speed_vector into an unordered factor. To create an ordered factor, you have to add two additional arguments: `ordered` and `levels`.

> factor(some_vector,ordered = TRUE, levels = c("lev1", "lev2" ...))

In [ ]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "medium") 

# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector,ordered=TRUE,levels=c("slow", "medium", "fast")) 

# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

# 5. Working with Dataframe

In [ ]:
# Print out built-in R data frame
mtcars

### 5.1 Head and Tail function
The function head() enables you to show the first observations of a data frame. Similarly, the function tail() prints out the last observations in your data set.

In [ ]:
# Call head() on mtcars
head(mtcars)

In [ ]:
# Call tail() on mtcars
tail(mtcars)

### 5.2 Dataframe structure
Another method that is often used to get a rapid overview of your data is the function `str()`. The function `str()` shows you the structure of your data set. For a data frame it tells you:

- The total number of observations (e.g. 32 car types)
- The total number of variables (e.g. 11 car features)
- A full list of the variables names (e.g. mpg, cyl … )
- The data type of each variable (e.g. num)

**The first observations**
Applying the `str()` function will often be the first thing that you do when receiving a new data set or data frame. It is a great way to get more insight in your data set before diving into the real analysis

In [ ]:
# Investigate the structure of mtcars
str(mtcars)

In [ ]:
# Investigate the structure of iris
str(iris)

### 5.3: Creating a data frame
We construct a data frame with the `data.frame()` function. As arguments, you pass the vectors from before: they will become the different columns of your data frame. Because every column has the same length, the vectors you pass should also have the same length. But don't forget that it is possible (and likely) that they contain different types of data.

In [ ]:
# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <-data.frame(name,type,diameter,rotation,rings)

In [ ]:
# View the dataframe
planets_df

In [ ]:
# structure of dataframe
str(planets_df)

In [ ]:
# summary of dataframe
summary(planets_df)

## 5.4: Selection of data frame elements
Similar to vectors and matrices, you select elements from a data frame with the help of square brackets `[ ]`. By using a comma, you can indicate what to select from the rows and the columns respectively. For example:

* `my_df[1,2]` selects the value at the first row and second column in my_df.
* `my_df[1:3,2:4]` selects rows 1, 2, 3 and columns 2, 3, 4 in my_df.
* Sometimes you want to select all elements of a row or column. For example, `my_df[1, ]` selects all elements of the first row. Let us now apply this technique on planets_df!

In [ ]:
# The planets_df data frame from the previous exercise is pre-loaded
planets_df
# Print out diameter of of Mercury (row 1, column 3)
planets_df[1,3]

# Print out data for Mars (entire fourth row)
planets_df[4,]

### Selection using variable name
Instead of using numerics to select elements of a data frame, you can also use the variable names to select columns of a data frame.

In [ ]:
planets_df[3]

In [ ]:
# planets_df[,"diameter"],planets_df[,3] also works
planets_df["diameter"]

### Subseting using `$` sign.
If your columns have names, you can use the $ sign:

>dataframe$colname

In [ ]:
# Select the rings variable from planets_df
rings_vector <- planets_df$rings
  
# Print out rings_vector
rings_vector

In [ ]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector,]

### Using `subset()` function
The first argument of `subset()` specifies the data set for which you want a subset. By adding the second argument, you give R the necessary information and conditions to select the correct subset.
> subset(my_df, subset = some_condition)

In [ ]:
# planets_df dataframe
planets_df

In [ ]:
# Select planets with diameter > 4
subset(planets_df,diameter > 4)

In [ ]:
# subset using logical column
subset(planets_df, subset = rings)

### Sorting Data frame
the `order()` function rearrange your data frame such that it starts with the smallest largest one according to your column;

In [ ]:
# How order works
a <- c(1,4,6,7,9,5)
order(a)
a[order(a)]

In [ ]:
# planets_df is pre-loaded in your workspace
planets_df 
# Use order() to create positions
size <- order(planets_df$diameter) 

# Use size to sort planets_df
planets_df[size,]

# 6. Working with List
A **list** in R allows you to gather a variety of objects under one name (that is, the name of the list) in an ordered way. These objects can be **matrices, vectors, data frames, even other lists**, etc. It is not even required that these objects are related to each other in any way.

## 6.1: Creating a list
To construct a list you use the function list():
> my_list <- list(comp1, comp2 ...)

In [ ]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Construct list with these different elements:
my_list <- list(my_vector,my_matrix,my_df)
my_list

## 3.2: Creating a named list
Just like on your to-do list, you want to avoid not knowing or remembering what the components of your list stand for. That is why you should give names to them:
> my_list <- list(name1 = your_comp1, name2 = your_comp2)

This creates a list with components that are named name1, name2, and so on. If you want to **name your lists after you've created them**, you can use the `  names() ` function as you did with vectors. The following commands are fully equivalent to the assignment above:

> my_list <- list(your_comp1, your_comp2) \
> names(my_list) <- c("name1", "name2")

In [ ]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Adapt list() call to give the components names
my_list <- list(my_vector, my_matrix, my_df)
names(my_list) <- c("vector","matrix","dataframe")
# Print out my_list
my_list

### 3.3 Use of List in R

In [ ]:
city <- "Kolkata"
places <- c('New Market','Victoria Memorial','Howrah Bridge','Park Street','South Park Cemetery','Dakshineshwar Kali Temple','Belur Math','Fort William','Prinsep Ghat','Old Chinatown')

# Creating dataframe
rating <- c(4.8,5.0,4.0,3.1,3.6)
place <- c('New Market','Dakshineshwar Kali Temple','Victoria Memorial','Victoria Memorial','Howrah Bridge')
comment <- c('Nice Place', "Good Temple!!",'Must Visit','Kolkata, Attarction...','Best place near ganga!')
city_review_df <- data.frame(place,rating,comment)

# Creating R List
city_list <- list(name = city, touristPlaces = places, review = city_review_df )

In [ ]:
city_list

### 3.4 Selecting elements from a list
You can also refer to the names of the components, with `[[ ]]` or with the ` $ ` sign. Both will select the data frame representing the reviews:

In [ ]:
city_list[['name']]
city_list[['review']]

In [ ]:
city_list[[1]]
city_list[[3]]