<a href="https://colab.research.google.com/github/recervictory/LearingR/blob/main/01_Introducation_to_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introduction to R

In [ ]:
# In "R" The hashtag is used to add comments
# Calculate 4+6
4+6

In [ ]:
# What can we do with R
demo("graphics")

## 1.1 Arithmetic with R
R use **arithmetic operators** to calculate various arithmetic function
- Addition: +
- Subtraction: -
- Multiplication: *
- Division: /
- Exponentiation: ^
- Modulo: %%

In [ ]:
# An addition
15 + 5

# A substraction
50 - 5

# A multiplication
4 * 5

# A division
(5 + 5)/2

# Exponentiation
2^5
# Modulo
17%%4

## 1.2 Variable assignment
A basic concept in (statistical) programming is called a variable. A variable allows you to store a value (e.g. 4) or an object (e.g. a function description) in R. 
Assigning Variable in R:

`my_var <- 15`

`num <- 4`

In [ ]:
 pi <- 3.14
 pi

In [ ]:
pi <- 3.141592653589793238462
phi <- 1.61803399
hi <- pi * phi
hi

## 1.3 Basic data types in R
R works with numerous data types. Some of the most basic types to get started are:

- Decimal values like 4.5 are called **numerics**.
- Whole numbers like 4 are called **integers**. Integers are also **numerics**.
- Boolean values (TRUE or FALSE) are called **logical**.
- Text (or string) values are called **characters**. For string data type we need `quotation marks` to indicate is string.

In [ ]:
num <- 4.5
my_int <- 56
my_logical <- TRUE
my_name <- "R Code"
my_name
my_logical

**To check the data type of of a variable we use** `class()` **fuction**

In [ ]:
class(my_logical)
class(my_name)
class(my_int)
class(num)

# 2. Working with Vectors


<h2 align=center>Example of Dataset</h2>

This is a common example of datasets table used for data analysis.This table has one row for each movie and several columns.

-   **name** - The name of the movie
-   **year** - The year the movie was released
-   **length_min** - The lenght of the movie in minutes
-   **genre** - The genre of the movie
-   **average_rating** - Average rating on Imdb
-   **cost_millions** - The movie's production cost in millions
-   **sequences** - The amount of sequences
-   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0)
-   **age_restriction** - The age restriction for the movie
    <br>
    <br>

Here's what the data looks like:

<img src = "https://ibm.box.com/shared/static/6kr8sg0n6pc40zd1xn6hjhtvy3k7cmeq.png" width = 90% align="left">

**Vectors** are **one-dimension arrays** that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data. 
In R, you create a vector with the **combine function** `c()`. You place the vector elements separated by a comma between the parentheses. For example:
```
numeric_vector <- c(1, 2, 3)
character_vector <- c("a", "b", "c")
```

In [ ]:
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")
logical_vector <- c(TRUE, FALSE,FALSE)
# print vectors
numeric_vector
character_vector
logical_vector

In [ ]:
# datatypes of vectors
class(numeric_vector)
class(logical_vector)

## 2.1 Naming a vector
With vectors, you can give **names to the elements** of a vector using the `names()` function:

In [ ]:
#Creating a year vector
release_year <- c(1985, 1999, 2010, 2002)
release_year

#Assigning names
names(release_year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")
release_year

In [ ]:
# Now, you can retrieve the values based on the names:
release_year[c("American Beauty", "Chicago")]

In [ ]:
names(release_year)

## 2.2 Vector Operations

In [ ]:
release_year <- c(1985, 1999, 2015, 1964)
release_year
# Adding more elements to a vector
release_year <- c(release_year, 2016:2020)
release_year

In [ ]:
# Length of a vector
length(release_year)

In [ ]:
# Head and Tail of a vector
head(release_year) #first six items
tail(release_year) #last six items

In [ ]:
# Sorting a vector
sort(release_year)

In [ ]:
sort(release_year, decreasing = T)

In [ ]:
# minimum and maximum values of a vector, you can use the **`min()`** and **`max()`** functions
min(release_year)
max(release_year)

In [ ]:
# Simple Stat Vectors
cost <- c(12.8,11,8.6,9.3,14.2,10.9)
mean(cost)
median(cost)
sum(cost)
# Summary of Vectors
summary(cost)