<a href="https://colab.research.google.com/github/recervictory/LearingR/blob/main/Intermediate_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flow Control and Loops
In this chapter, you'll learn about relational operators for comparing R objects, and logical operators like "and" and "or" for combining TRUE and FALSE values. Then, you'll use this knowledge to build conditional statements.
## Chapter Goals
- Be able to branch the flow of execution
- Be able to repeatedly execute code with loops

## 1: Conditionals and Control Flow

 **Equality**: The most basic form of comparison is equality. Used syntax `==` for comparing two string, numaric, logical values.

In [1]:
#  Equality
# Comparison of logicals
TRUE == FALSE

# Comparison of numerics
-6 * 14 != 17 - 101

# Comparison of character strings
"useR" == "user"

# Compare a logical with a numeric
TRUE == 1

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

In [ ]:

# Comparison of numerics
-6 * 5 + 2 >= -10 + 1

# Comparison of character strings
"raining" <= "raining dogs"

# Comparison of logicals
TRUE > FALSE

**Greater and less than**: Apart from equality operators, Filip also introduced the less than and greater than operators: `<` and `>`. You can also add an equal sign to express less than or equal to or greater than or equal to, respectively.

In [2]:
# Comparison of numerics
-6 * 5 + 2 >= -10 + 1

# Comparison of character strings
"raining" <= "raining dogs"

# Comparison of logicals
TRUE > FALSE

[1] FALSE

[1] TRUE

[1] TRUE

**Compare vectors**: Comparing vectors with relational operators

In [ ]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15
# Quiet days
linkedin <= 5

# LinkedIn more popular than Facebook
linkedin > facebook

In [3]:
# The social data has been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13
# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE

**Logical Operators**: There are three vectorized logical operators in R:
- ! is used for not.
- & is used for and.
- | is used for or.

In [5]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
linkedin > 10 & linkedin < 15

[1] FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE

In [6]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
linkedin == 16 | linkedin == 14

[1]  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE

In [ ]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
linkedin == 16 | linkedin == 14

In [23]:
monday <-c(2,    31,    3,    61,   4,    12,    0)
tuesday <-c(21,    13,    33,    16,   43,    23,   20)
wednessday <-c(24,   18,   15,   19,   18,   22,   17)
thursday <-c(25,   25,   26,   31,   24,   36 ,  37)
names <- c("employee_1", "employee_2", "employee_3", "employee_4", "employee_5", "employee_6","employee_7")

employees <- data.frame(names,monday, tuesday, wednessday, thursday)
employees

  names      monday tuesday wednessday thursday
1 employee_1  2     21      24         25
2 employee_2 31     13      18         25
3 employee_3  3     33      15         26
4 employee_4 61     16      19         31
5 employee_5  4     43      18         24
6 employee_6 12     23      22         36
7 employee_7  0     20      17         37

In [28]:
# Build a logical vector, TRUE if value in second is extreme: extremes
extremes <- employees$monday > 25 | employees$wednessday <  15
# Count the number of TRUEs in extremes
sum(extremes)

# Solve it with a one-liner
sum(employees$monday > 25 | employees$wednessday < 15)

[1] 2

[1] 2